        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l3 s12">
                        <div class="brand-logo">
                            <img src="img/logo.png"/>
                            <h5 class="valign"><b class="main-text">Aero</b> Admin</h5>
                        </div>
                        <p>A Material Design based admin template.</p>
                        <p>You can use rows and columns here to organize your footer content.</p>
                    </div>

                    <div class="col l4 offset-l2 s12">
                        <h5>Documentation</h5>
                        <p>Please, in case of doubt <a href="documentation.html">read the documentation</a>. If the doubt still remains, don't hesitate to <a href="http://themeforest.net/user/{{ site.themeforestUser }}" target="_blank">contact me</a>. I'll be glad to help you or even listen to your suggestions. :)</p>
                    </div>

                    <div class="col l2 offset-l1 s12 footer-links">
                        <h5>Links</h5>
                        <ul>
                            <li><a href="index.html">Dashboard</a></li>
                            <li><a href="css_color.html">CSS</a></li>
                            <li><a href="components_badges.html">Components</a></li>
                            <li><a href="js_collapsible.html">Javascript</a></li>
                            <li><a href="profile.html">Profile</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="container">
                    © 2016 Aero Admin, All rights reserved.
                </div>
            </div>
        </footer>