        <div id="nav-content">
            <nav>
                <div class="row">
                    <div class="col s12">
                        <!-- ############ -->
                        <!-- Desktop Menu -->
                        <!-- ############ -->
                        <div class="nav-wrapper">
                            <a href="index.html" class="brand-logo">
                                <img src="img/logo.png"/>
                                <span class="valign">
                                    <b class="main-text">Aero</b> Admin
                                </span>
                            </a>

                            <!-- Desktop -->
                            <ul class="right hide-on-med-and-down">
                                <li {% if page.section == "dashboard" %}class="active"{% endif %}><a href="index.html">Dashboard</a></li>

                                <li {% if page.section == "documentation" %}class="active"{% endif %}><a href="documentation.html">Documentation</a></li>

                                <li {% if page.section == "css" %}class="active"{% endif %}>
                                    <a class="dropdown-button" href="#!" data-activates="dropdown-css" data-constrainwidth="false" data-beloworigin="true">
                                        CSS<i class="material-icons dropdown-icon right">arrow_drop_down</i>
                                    </a>
                                </li>

                                <li {% if page.section == "components" %}class="active"{% endif %}>
                                    <a class="dropdown-button" href="#!" data-activates="dropdown-components" data-constrainwidth="false" data-beloworigin="true">
                                        Components<i class="material-icons dropdown-icon right">arrow_drop_down</i>
                                    </a>
                                </li>

                                <li {% if page.section == "js" %}class="active"{% endif %}>
                                    <a class="dropdown-button" href="#!" data-activates="dropdown-javascript" data-constrainwidth="false" data-beloworigin="true">
                                        Javascript<i class="material-icons dropdown-icon right">arrow_drop_down</i>
                                    </a>
                                </li>

                                <li {% if page.section == "apps" %}class="active"{% endif %}>
                                    <a class="dropdown-button" href="#!" data-activates="dropdown-apps" data-constrainwidth="false" data-beloworigin="true">
                                        APPs<i class="material-icons dropdown-icon right">arrow_drop_down</i>
                                    </a>
                                </li>

                                <li {% if page.section == "pages" %}class="active"{% endif %}>
                                    <a class="dropdown-button" href="#!" data-activates="dropdown-pages" data-constrainwidth="false" data-beloworigin="true">
                                        Pages<i class="material-icons dropdown-icon right">arrow_drop_down</i>
                                    </a>
                                </li>

                                <li class="profile {% if page.section == "profile" %}active{% endif %}">
                                    <a class="dropdown-button" href="#!" data-activates="dropdown-profile" data-constrainwidth="false" data-beloworigin="true" data-alignment="right">
                                        <div class="valign-wrapper">
                                            <img src="img/profile.jpg" alt="My profile" class="circle responsive-img margin-right-10">
                                            John Doe
                                            <i class="material-icons dropdown-icon right">arrow_drop_down</i>
                                        </div>
                                    </a>
                                </li>
                            </ul>

                            <!-- Dropdowns -->
                            <ul id="dropdown-css" class="dropdown-content">
                                <li {% if page.module == "css_color" %}class="active"{% endif %}><a href="css_color.html">Color</a></li>
                                <li {% if page.module == "css_grid" %}class="active"{% endif %}><a href="css_grid.html">Grid</a></li>
                                <li {% if page.module == "css_helpers" %}class="active"{% endif %}><a href="css_helpers.html">Helpers</a></li>
                                <li {% if page.module == "css_media" %}class="active"{% endif %}><a href="css_media.html">Media</a></li>
                                <li {% if page.module == "css_sass" %}class="active"{% endif %}><a href="css_sass.html">Sass</a></li>
                                <li {% if page.module == "css_shadow" %}class="active"{% endif %}><a href="css_shadow.html">Shadow</a></li>
                                <li {% if page.module == "css_table" %}class="active"{% endif %}><a href="css_table.html">Table</a></li>
                                <li {% if page.module == "css_typography" %}class="active"{% endif %}><a href="css_typography.html">Typography</a></li>
                            </ul>
                            <ul id="dropdown-components" class="dropdown-content">
                                <li {% if page.module == "components_badges" %}class="active"{% endif %}><a href="components_badges.html">Badges</a></li>
                                <li {% if page.module == "components_buttons" %}class="active"{% endif %}><a href="components_buttons.html">Buttons</a></li>
                                <li {% if page.module == "components_breadcrumbs" %}class="active"{% endif %}><a href="components_breadcrumbs.html">Breadcrumbs</a></li>
                                <li {% if page.module == "components_cards" %}class="active"{% endif %}><a href="components_cards.html">Cards</a></li>
                                <li {% if page.module == "components_chips" %}class="active"{% endif %}><a href="components_chips.html">Chips</a></li>
                                <li {% if page.module == "components_collections" %}class="active"{% endif %}><a href="components_collections.html">Collections</a></li>
                                <li {% if page.module == "components_footer" %}class="active"{% endif %}><a href="components_footer.html">Footer</a></li>
                                <li {% if page.module == "components_forms" %}class="active"{% endif %}><a href="components_forms.html">Forms</a></li>
                                <li {% if page.module == "components_icons" %}class="active"{% endif %}><a href="components_icons.html">Icons</a></li>
                                <li {% if page.module == "components_navbar" %}class="active"{% endif %}><a href="components_navbar.html">Navbar</a></li>
                                <li {% if page.module == "components_pagination" %}class="active"{% endif %}><a href="components_pagination.html">Pagination</a></li>
                                <li {% if page.module == "components_preloader" %}class="active"{% endif %}><a href="components_preloader.html">Preloader</a></li>
                            </ul>
                            <ul id="dropdown-javascript" class="dropdown-content">
                                <li {% if page.module == "js_collapsible" %}class="active"{% endif %}><a href="js_collapsible.html">Collapsible</a></li>
                                <li {% if page.module == "js_dialogs" %}class="active"{% endif %}><a href="js_dialogs.html">Dialogs</a></li>
                                <li {% if page.module == "js_dropdown" %}class="active"{% endif %}><a href="js_dropdown.html">Dropdown</a></li>
                                <li {% if page.module == "js_media" %}class="active"{% endif %}><a href="js_media.html">Media</a></li>
                                <li {% if page.module == "js_modals" %}class="active"{% endif %}><a href="js_modals.html">Modals</a></li>
                                <li {% if page.module == "js_parallax" %}class="active"{% endif %}><a href="js_parallax.html">Parallax</a></li>
                                <li {% if page.module == "js_pushpin" %}class="active"{% endif %}><a href="js_pushpin.html">Pushpin</a></li>
                                <li {% if page.module == "js_scrollfire" %}class="active"{% endif %}><a href="js_scrollfire.html">ScrollFire</a></li>
                                <li {% if page.module == "js_scrollspy" %}class="active"{% endif %}><a href="js_scrollspy.html">Scrollspy</a></li>
                                <li {% if page.module == "js_sidenav" %}class="active"{% endif %}><a href="js_sidenav.html">SideNav</a></li>
                                <li {% if page.module == "js_tabs" %}class="active"{% endif %}><a href="js_tabs.html">Tabs</a></li>
                                <li {% if page.module == "js_transitions" %}class="active"{% endif %}><a href="js_transitions.html">Transitions</a></li>
                                <li {% if page.module == "js_waves" %}class="active"{% endif %}><a href="js_waves.html">Waves</a></li>
                            </ul>
                            <ul id="dropdown-apps" class="dropdown-content">
                                <li {% if page.module == "apps_crud" %}class="active"{% endif %}><a href="apps_crud.html">CRUD</a></li>
                                <li {% if page.module == "apps_pricing_table" %}class="active"{% endif %}><a href="apps_pricing_table.html">Pricing Table</a></li>
                                <li {% if page.module == "apps_datatables" %}class="active"{% endif %}><a href="apps_datatables.html">DataTables</a></li>
                                <li {% if page.module == "apps_maps" %}class="active"{% endif %}><a href="apps_maps.html">Maps</a></li>
                                <li {% if page.module == "apps_charts" %}class="active"{% endif %}><a href="apps_charts.html">Charts</a></li>
                            </ul>
                            <ul id="dropdown-pages" class="dropdown-content">
                                <li {% if page.module == "pages_blank" %}class="active"{% endif %}><a href="pages_blank.html">Blank</a></li>
                                <li class="divider"></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="forgot_password.html">Forgot Password</a></li>
                                <li class="divider"></li>
                                <li><a href="error_400.html">Error 400</a></li>
                                <li><a href="error_403.html">Error 403</a></li>
                                <li><a href="error_404.html">Error 404</a></li>
                                <li><a href="error_500.html">Error 500</a></li>
                            </ul>
                            <ul id="dropdown-profile" class="dropdown-content">
                                <li {% if page.module == "profile" %}class="active"{% endif %}><a href="profile.html">Profile</a></li>
                                <li><a href="login.html">Logout</a></li>
                            </ul>

                            <!-- Mobile -->
                            <a href="#" data-activates="mobile-demo" class="button-collapse">
                                <i class="material-icons">menu</i>
                            </a>
                        </div>


                        <!-- ########### -->
                        <!-- Mobile Menu -->
                        <!-- ########### -->
                        <ul class="side-nav" id="mobile-demo">
                            <li class="logo">
                                <img src="img/logo.png"/>
                                <p>
                                    <b class="main-text">Aero</b> Admin
                                </p>
                            </li>

                            <li>
                                <a href="index.html" class="waves-effect">Dashboard</a>
                            </li>

                            <li class="padding-0">
                                <ul class="collapsible collapsible-accordion">
                                    <li class="bold">
                                        <a class="collapsible-header waves-effect">CSS</a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li><a href="css_color.html">Color</a></li>
                                                <li><a href="css_grid.html">Grid</a></li>
                                                <li><a href="css_helpers.html">Helpers</a></li>
                                                <li><a href="css_media.html">Media</a></li>
                                                <li><a href="css_sass.html">Sass</a></li>
                                                <li><a href="css_shadow.html">Shadow</a></li>
                                                <li><a href="css_table.html">Table</a></li>
                                                <li><a href="css_typography.html">Typography</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="bold">
                                        <a class="collapsible-header waves-effect">Components</a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li><a href="components_badges.html">Badges</a></li>
                                                <li><a href="components_buttons.html">Buttons</a></li>
                                                <li><a href="components_breadcrumbs.html">Breadcrumbs</a></li>
                                                <li><a href="components_cards.html">Cards</a></li>
                                                <li><a href="components_chips.html">Chips</a></li>
                                                <li><a href="components_collections.html">Collections</a></li>
                                                <li><a href="components_footer.html">Footer</a></li>
                                                <li><a href="components_forms.html">Forms</a></li>
                                                <li><a href="components_icons.html">Icons</a></li>
                                                <li><a href="components_navbar.html">Navbar</a></li>
                                                <li><a href="components_pagination.html">Pagination</a></li>
                                                <li><a href="components_preloader.html">Preloader</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="bold">
                                        <a class="collapsible-header waves-effect">JavaScript</a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li><a href="js_collapsible.html">Collapsible</a></li>
                                                <li><a href="js_dialogs.html">Dialogs</a></li>
                                                <li><a href="js_dropdown.html">Dropdown</a></li>
                                                <li><a href="js_media.html">Media</a></li>
                                                <li><a href="js_modals.html">Modals</a></li>
                                                <li><a href="js_parallax.html">Parallax</a></li>
                                                <li><a href="js_pushpin.html">Pushpin</a></li>
                                                <li><a href="js_scrollfire.html">ScrollFire</a></li>
                                                <li><a href="js_scrollspy.html">Scrollspy</a></li>
                                                <li><a href="js_sidenav.html">SideNav</a></li>
                                                <li><a href="js_tabs.html">Tabs</a></li>
                                                <li><a href="js_transitions.html">Transitions</a></li>
                                                <li><a href="js_waves.html">Waves</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="bold">
                                        <a class="collapsible-header waves-effect">APPs</a>
                                        <div class="collapsible-body">
                                            <ul>
                                                <li><a href="apps_crud.html">CRUD</a></li>
                                                <li><a href="apps_pricing_table.html">Pricing Table</a></li>
                                                <li><a href="app_datatables.html">Datatables</a></li>
                                                <li><a href="app_maps.html">Maps</a></li>
                                                <li><a href="app_charts.html">Charts</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>