#css_grid {
	.grid-example {
		border: 1px solid #eee;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
		line-height: 50px;
		font-size: 28px;
		color: rgba(0, 0, 0, 0.5);
		background-color: #e7e7e6;
	}
}